<?xml version="1.1" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.student.devs.jeux_alccol">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Jeux d'Alcool"
        android:roundIcon="@drawable/titre"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.intro_activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.jeux_activity"/>
        <activity android:name=".activity.desActivity"/>
        <activity android:name=".activity.cartesActivity"/>
        <activity android:name=".liste.jeux_Liste"/>
        <activity android:name=".liste.regles_Liste"/>
        <activity android:name=".liste.chants_Liste"/>
        <activity android:name=".liste.desCartesListe"/>
        <activity android:name=".menu_test"
            android:screenOrientation="portrait"/>
    </application>

</manifest>